<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <!--Self declared servlet mapping starts here-->
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>ru.vad1mchk.webprogr.lab02.servlets.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AreaCheckServlet</servlet-name>
        <servlet-class>ru.vad1mchk.webprogr.lab02.servlets.AreaCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AreaCheckServlet</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>

    <!--Self declared servlet mapping ends here-->
    <mime-mapping>
        <extension>xhtml</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jar</extension>
        <mime-type>application/java-archive</mime-type>
    </mime-mapping>
</web-app>